.service{
    height: 100vh;
    background: var(--bg);
    border-radius: 100px 100px 0px 0px;

    .service-container{
        padding: 100px 0px;

        .top
        {
            h2{
                font-size: 6rem;
                line-height: 5rem;
                .business{
                    position: relative;
                    font-family: inherit;
                    transform: translateY(-100px)  translateX(275px) rotate(-5deg);
                    background: var(--accent4);
                    padding: 20px 40px 30px 40px ;
                    height: fit-content;;
                    width: fit-content;
                    color: var(--bg);
                    border-radius: 100px;

                    &::after{
                        display: block;
                        content: "";
                        height:120px;
                        width: calc(100% - 30px );
                        border-radius: 100px;
                        border: 3px dashed var(--bg);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
    }
}